doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Force Layout with labels on edges
    script(src='http://d3js.org/d3.v3.min.js', charset='utf-8')
    script.
      window.data = !{JSON.stringify(data)}
    style(type='text/css').
  body
    script(src='./script.js')